* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#container {
  border: 2px solid black;
  width: 80%;
  margin: 0 auto;
  background-color:white;
}

#registration {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#registration div {
 padding: 5px;
}

#registration input {
  width: 200px;
}

#travel {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#travel input {
  margin-left: 10px;
}

#travel label {
  margin-left: 3px;
}

h3 {
  margin-left: 20px;
}

#textarea {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#textarea textarea{
  width: 300px;
  height: 150px;
  margin-top: 10px;
}

#date {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#date input {
  margin-left: 5px;
}

#requirements {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#requirements div {
  padding-bottom: 10px;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#buttons button {
  margin-left: 5px;
  width: 100px;
  font-size: 20px;
  border-radius: solid;
}