
        h1 {
            font-size: 61px;
            color: orange;
            font-family: sans-serif;
            font-style: italic;
            text-decoration:underline;
            line-height: 30px;
            text-align: center;
        }

       .backgorund {
            background-color: black;
        }

        p {
            font-weight: 600;
            font-size: 3em;
        }

        body {
            font: 16px;
        }

        #yellow {
            background-color: yellow;
        }
        #red {
            background-color: red;
        }

        #brown {
            background-color: brown;
        }